@charset "UTF-8";
/* CSS Document */
::selection{background-color: #ff3d2c;}
a:focus,a:hover,a:active{ text-decoration:none; color: #ff3d2c;}
.head_menu_a li.active a,.nav_list li.active a,.mycol,.bstem .head_box.nav_top .top_nav a:hover,.bstem .head_box.nav_top .top_ico a:hover,.bstem .head_box.nav_top .head_hot_search a:hover,.bstem .head_box.nav_top .all_menu_box a:hover,.bstem .head_menu_a a:hover,.bstem .head_user a:hover,.bstem .head_hot_search a:hover,.bstem .head_user li .dropbox.user a:hover,.list_m a i,.pannel_head a.v_change i.iconfont,.vodlist_item:hover a,.topiclist_item:hover a,.artlist_item:hover a,.arthom_item:hover a,.actorlist_item:hover a,.gw_action a:hover,.play_source_tab a.active,.playnow_info,.screen_list.sx_tz li.hl_fl a,.player a:hover,.down_context a:hover,.down_list ul li span,.bstem .head_box.nav_top .active a{color: #ff3d2c !important;}
.head_menu_a li.active a:after,.play_source_tab a.active:after,.tab-play a.playnow_info:after,.pannel .new_date{ background: #ff3d2c;}
.head_user li a:hover,.mac_results li strong{color: #ff3d2c;}
.head_user li .user a.mac_user_g,.bstem .head_user li .user a.mac_user_g{color: #ff3d2c;}
.head_menu_b:hover a.menu{background: #ff3d2c;border-right: 1px solid #ff3d2c;}
.head_search form:hover .submit,.head_search form .submit.search_btn{background: #ff3d2c;}
.hot_banner .head_menu_a a:hover,.hot_banner .head_user a:hover,.hot_banner .head_hot_search a:hover,.hot_banner .head_user li .dropbox.user a:hover{color: #ff3d2c;}
.hot_banner .head_user li .user a.mac_user_g {color: #ff3d2c;}
a:hover.swiper-button-next,a:hover.swiper-button-prev{background:#ff3d2c;}
.swiper-pagination-bullet-active {background: #ff3d2c;}
.vodlist_item:hover a,.topiclist_item:hover a,.artlist_item:hover a,.arthom_item:hover a,.gw_action a:hover{color: #ff3d2c;}
.art_navlist li.active a{position: relative; color: #ff3d2c; }
.article_box .digg_link{background: #ff3d2c;background: -webkit-linear-gradient(135deg,#ff6f62,#ff4e44 52%,#ff3d2c);background: linear-gradient(135deg,#ff6f62,#ff4e44 52%,#ff3d2c);box-shadow: 0 0 0.25rem 0 rgba(255, 61, 44, 0.3);}
/* .article_box a:hover.digg_link{color: #fff; background: #ff3d2c;} */
.pannel_head .title em,.pannel_head em{color: #ff3d2c;}
.pannel .search_tips a {color: #ff3d2c;}
.pannel h2.title i {color: #ff3d2c;}
.content_detail .pull_right a:hover{color: #ff3d2c;}
.play_but a:hover,.play_vlist a:hover .play_vlist_title,.play_vlist_now a:hover{color: #ff3d2c;}
.play_namebox .fenlei{border: 1px solid #ff3d2c; color: #ff3d2c; }
.play_vlist_thumb.vnow::after{border: 3px solid #ff3d2c;}
.vnow .play_vlist_title{color: #ff3d2c;}
.content_playlist li.active a{color: #ff3d2c;border: 1px solid #ff3d2c;}
.type_list_menu li.active a{color: #ff3d2c;}
.zbvodlist_box:hover{border:1px solid #ff3d2c;}
.seebtn a {color: #ff3d2c;}
.ranklist_item a:hover .title{color: #ff3d2c;}
.sx_txt li,.sx_title2{color: #ff3d2c;}
.screen_list li a:hover,.list_type_title span a:hover,.screen_list.sx_tz li a:hover{color: #ff3d2c;}
.screen_list li.hl a{color: #ff3d2c;}
.screen_list li.hl_fl a{color: #ff3d2c;}
.type_sxbtn a{color: #ff3d2c;}
.sx_total em{color: #ff3d2c;}
.gbook_submit {background: #ff3d2c!important;border: 1px solid #ff3d2c!important;}
.input_wrap .comment_submit{background: #ff3d2c!important;border: 1px solid #ff3d2c!important;}
.notice .nico{color: #ff3d2c;}
.notice .nic{color: #ff3d2c;}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {color: #ff3d2c;}
.tabs .content section h2 {color: #ff3d2c;}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {color: #ff3d2c;}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {color: #ff3d2c;}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {color: #ff3d2c;}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {color: #ff3d2c;}
.extra li a:hover {background-color: #ff3d2c!important;}
.page li.active a,.page li.disabled a{ background-color: #ff3d2c; border: 1px solid #ff3d2c;}
.page_tips span{color: #ff3d2c;}
.dropdown .copy_btn {background: #ff3d2c;cursor: pointer;}
.am-share-footer .copy_btn {color: #ff3d2c;}
.weui_text .weui-btn a {dbackground: #ff3d2c;border:1px solid #ff3d2c;}
.history_title a:hover,.mac_history_box li.clear_btn a:hover,.mac_history_box li a:hover .vodlist_title,.role_name, .svodinfo a{color: #ff3d2c!important;}
.mac_history_box .user_log_tips a{background: #ff3d2c; }
.extra li a.backtop {display: none;background-color: rgba(255, 61, 44, 0.8);color: #FFFFFF;}
.btn-brand {background: #ff3d2c!important;}
.reg-ts span  {color: #ff3d2c!important;}
.box-star-list li:hover a span:after,.box-star-list li:hover a span:before,.box-star-list li.active a span:after,.box-star-list li.active a span:before{border-bottom: 6px solid #ff3d2c;}
.box-star-list li:hover a span:before,.box-star-list li.active a span:before{border-bottom-color: #ff3d2c;}
.star-video-list .box-star-list {border-top: 1px solid #ff3d2c;}
a.actor_part:hover{ background: #ff3d2c;border: 1px solid #ff3d2c;}
.content_detail .playbtn.o_play a.btn{background:#ff3d2c;}
.content_detail .playbtn.o_play a{ color: #effaf0;border: 1px solid #ff3d2c;}
.themecolor li:hover{background: #ff3d2c;color: #fff;}
.wbalist_titbox .wba_ico {background-position: 0px -104px;background-size: cover;}

@media (max-width:820px){
	.head_menu_b:hover a.menu{background: none;border: 0;}
	.foot_mnav .foot_rows a.active{color: #ff3d2c;}
	.wx_but a{background: #ff3d2c;background: -webkit-linear-gradient(135deg,#ff6f62,#ff4e44 52%,#ff3d2c);background: linear-gradient(135deg,#ff6f62,#ff4e44 52%,#ff3d2c);box-shadow: 0 0 0.25rem 0 rgba(255, 61, 44, 0.3);}
}
#member #right .user-info li.cur,
#member #left ul li a:hover,
.pannel_head .title .tj-title,
.member-wrap #member #left ul li a:hover i,
#member #right h2,
#member #right .list li a:hover,
.head_menu_a a:hover,
.content_detail .playbtn.o_share a.btn_share,
#member #right .bind-a,
/* .latest-tab-box .movie-latest .txt-list li span, 
.latest-tab-box .tv-latest .txt-list li span,
.latest-tab-box .dm-latest .txt-list li span,
.latest-tab-box .fun-latest .txt-list li span,
.latest-tab-box .wei-latest .txt-list li span,*/
.vod_fav.is_fav i,
.vodlist_thumb .text_dy,
.btn-continue,
.latest-tab-box .txt-list li a:hover,
.directory-list dd a:hover,
.content_detail .data_style,
#rating span.star_tips,
.pannel_head .pan_right,
.player .text_score,
.order__list li p span.jg-tz,
.data__list li p span.co-tz,
.latest-tab-box .latest-item .txt-list li:hover,
.latest-tab-box .latest-item .txt-list li:hover span,
.latest-tab-box .latest-item .txt-list li:hover a,
#member #left ul li.active a,
.rank_tab_list .rank_tab.active,
.box-star-list li:hover .name,
.box .title dl dd:hover a,
.view-filter a.current,
.filter-focus .ui-title h3,
.website-search-t,
.vod_rank_list .ranklist_r li:hover a
{
	color: #ff3d2c !important;
}
#member #right .user-info li.cur::after,
#member #right .list li.cur,
#member #right .search-button,
.head_search form .submit.search_btn,
.deansubdiv dd:hover h3,
.banner-b .play,
.banner-num .show-tab,
#member #right h2::after,
.xz-box input:checked,
.lable-wrap .active .p1,
.banner-b .mac_ulog.is_fav,
.layui-progress-bar,
.box .title .pc_more:hover,
.data_list .laset_new .count,
.btn-order{
	background-color: #ff3d2c !important;
}
.step-wrap .active .p1,
.seebtn .ck_detail{
    background: #ff3d2c !important;
}
.content_detail .playbtn.o_share a.btn_share,
.btn-continue,
.xz-box input:checked{
	border-color: #ff3d2c !important;
}
.latest-tab-nav #latest1.current ,
.latest-tab-nav #latest2.current ,
.latest-tab-nav #latest3.current, 
.latest-tab-nav #latest4.current, 
.latest-tab-nav #latest5.current{
    border-top-color: #ff3d2c;
    color: #ff3d2c;
}
@media (min-width: 820px){
	.lable-wrap .active .p1{
        color: #ff3d2c !important;
        border-color: #ff3d2c !important;
        background-color: transparent !important;
    }
}