{include file="../../../application/admin/view/public/head" /}

<div class="page-container p10">

    <div class="my-toolbar-box">
        <div class="layui-btn-group">
            {if condition="$collect_break_vod neq ''"}
            <a href="{:url('load')}?flag=vod" class="pear-btn pear-btn-danger pear-btn-md ">【{:lang('admin/collect/index/video_collect')}】</a>
            {/if}
            {if condition="$collect_break_art neq ''"}
            <a href="{:url('load')}?flag=art" class="pear-btn pear-btn-danger pear-btn-md ">【{:lang('admin/collect/index/art_collect')}】</a>
            {/if}
            {if condition="$collect_break_actor neq ''"}
            <a href="{:url('load')}?flag=actor" class="pear-btn pear-btn-danger pear-btn-md ">【{:lang('admin/collect/index/star_collect')}】</a>
            {/if}
            {if condition="$collect_break_role neq ''"}
            <a href="{:url('load')}?flag=role" class="pear-btn pear-btn-danger pear-btn-md ">【{:lang('admin/collect/index/role_collect')}】</a>
            {/if}
            {if condition="$collect_break_website neq ''"}
            <a href="{:url('load')}?flag=website" class="pear-btn pear-btn-danger pear-btn-md ">【{:lang('admin/collect/index/website_collect')}】</a>
            {/if}
        </div>
    </div>
    <hr>

    <script src="" charset="utf-8"></script>

</div>

{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">
    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
                , layer = layui.layer;


    });
</script>
</body>
</html>