{include file="../../../application/admin/view/public/head" /}
<div class="page-container">

    <div class="layui-col-md8" style="padding: 20px">
        <div style="clear: both">
            <div class="layui-col-md3">
                {if condition="$info.pc_image neq ''"}
                <img src="{$info.pc_image}" class="add-logo" style="height:140px" />
                {else/}
                {if condition="$info.h5_image neq ''"}
                <img src="{$info.h5_image}" class="add-logo" style="height:140px" />
                {else/}
                {if condition="$info.pc_preview neq ''"}
                <img src="{$info.pc_preview}" class="add-logo" style="height:140px" />
                {else/}
                {if condition="$info.h5_preview neq ''"}
                <img src="{$info.h5_preview}" class="add-logo" style="height:140px" />
                {else/}
                <img src="" class="add-logo" style="height:140px" />
                {/if}
                {/if}
                {/if}
                {/if}
            </div>
            <div class="layui-col-md9" style="padding: 20px">
                <h3>{$info.name}</h3>
                <h4 style="margin-top: 20px">{:lang('admin/addon/marketinfo/title1')}:<span style="margin-left: 10px">{$info.user_name}</span></h4>
                <h4 style="margin-top: 20px">{:lang('admin/addon/marketinfo/title2')}:<span style="margin-left: 10px">{$info.user_domain}</span></h4>
            </div>
            <div style="clear: both"></div>
        </div>
        <div>
            <p style="padding-top: 40px"><span style="font-size: larger;font-weight: bolder">{:lang('admin/addon/marketinfo/title3')}</span></p>
            <p style="padding-top: 20px">{$info.describe}</p>
        </div>
    </div>
    <div class="layui-col-md4" style="padding: 20px">
        <div style="height: 140px;line-height: 140px;text-align: center">
            {if condition="$info.toll eq 1"}
            <a class="j-iframe layui-btn mgl-20" data-full="1" data-href="{:url('marketlicense')}?id={$info.id}&type=plugins" href="javascript:;">{:lang('admin/addon/marketinfo/title4')}</a>
            {/if}
            {if condition="$info.toll eq 0"}
            <a class="layui-btn mgl-20" onclick="ondown('{$info.source}')">{:lang('admin/addon/marketinfo/title5')}</a>
            <a class="j-iframe layui-btn mgl-20" data-full="1" data-href="{:url('downandinstalladdon')}?down_url={$info.source}&file_name={$info.file_name}&id={$info.id}&type=plugins" href="javascript:;">{:lang('admin/addon/marketinfo/title6')}</a>
            {/if}
        </div>
        <div style="margin-top: 40px">
            <div style="margin-top: 20px"><p class="layui-inline w150">{:lang('admin/addon/marketinfo/title7')}:</p><p class="layui-inline">{$level}</p></div>
            <div style="margin-top: 20px"><p class="layui-inline w150">{:lang('admin/addon/marketinfo/title8')}:</p><p class="layui-inline">{$info.update_time}</p></div>
            <div style="margin-top: 20px"><p class="layui-inline w150">{:lang('admin/addon/marketinfo/title9')}:</p><p class="layui-inline">{$info.download_num}</p></div>
            <div style="margin-top: 20px"><p class="layui-inline w150">{:lang('admin/addon/marketinfo/title10')}:</p><p class="layui-inline">{$info.langs}</p></div>
            <p style="margin-top: 20px"><a class="j-iframe" data-full="1" data-href="{:url('marketfeedback')}?id={$info.id}&type=plugins" href="javascript:;" title="{:lang('admin/addon/marketinfo/title11')}">{:lang('admin/addon/marketinfo/title11')}>></a></p>
            <p style="margin-top: 40px">{:lang('admin/addon/marketinfo/title12')}</p>
            <div style="margin-top: 20px"><p class="layui-inline w150">QQ:</p><p class="layui-inline">{$info.qq}</p></div>
            <div style="margin-top: 20px"><p class="layui-inline w150">{:lang('admin/addon/marketinfo/title13')}:</p><p class="layui-inline">{$info.wechat}</p></div>
        </div>
    </div>

</div>
{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">
    layui.use(['laypage', 'layer','form'], function() {
        var laypage = layui.laypage
            , layer = layui.layer,
            form = layui.form;

    });

    function ondown(diwn_url){
        $.ajax({
            type: 'post',
            dataType:'json',
            url: "{:url('addon/ondown')}",
            data:{id:"{$info.id}",type:"plugins",down_url:diwn_url},
            success:function($r){
                window.open($r.data)
            },
            complete:function(){
                //layer.msg("未知错误");
            }
        });
    }
</script>
</body>
</html>