{include file="../../../application/admin/view/public/head" /}



<form class="layui-form" method="post" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                

                <input id="gbook_id" name="gbook_id" type="hidden" value="{$info.gbook_id}">
                <input id="gbook_rid" name="gbook_rid" type="hidden" value="{$info.gbook_rid}">
                <div class="layui-form-item">

                    <label class="layui-form-label">{:lang('admin/extend/upload/title46')}：</label>
                    <div class="layui-input-inline w80">
                        <input type="text" class="layui-input" value="{$info.gbook_name}" readonly="readonly" name="gbook_name" >
                    </div>
                    <label class="layui-form-label">{:lang('admin/extend/upload/title47')}：</label>
                    <div class="layui-input-inline w130">
                        <input type="text" class="layui-input" value="{$info.gbook_time|date='Y-m-d H:i:s',###}" readonly="readonly">
                    </div>
                    <label class="layui-form-label">{:lang('admin/extend/upload/title48')}：</label>
                    <div class="layui-input-inline w130">
                        <input type="text" class="layui-input" value="{$info.gbook_reply_time|date='Y-m-d H:i:s',###}" readonly="readonly">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/extend/upload/title49')}：</label>
                    <div class="layui-input-block">
                        <textarea type="text" class="layui-textarea" lay-verify="gbook_content" placeholder="{:lang('admin/extend/upload/title51')}" name="gbook_content">{$info.gbook_content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/extend/upload/title50')}：</label>
                    <div class="layui-input-block">
                        <textarea type="text" class="layui-textarea" lay-verify="gbook_reply" placeholder="{:lang('admin/extend/upload/title52')}" name="gbook_reply">{$info.gbook_reply}</textarea>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="formSubmit" data-child="true">
                <i class="layui-icon layui-icon-ok"></i>
                {:lang('btn_save')}
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                {:lang('btn_reset')}
            </button>
        </div>
    </div>

   


</form>
{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;

        // 验证
        form.verify({
            gbook_content: function (value) {
                if (value == "") {
                    return "请输入留言内容";
                }
            }
        });


    });
</script>

</body>
</html>