<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title} - {:lang('admin/public/head/title')}</title>
    <link rel="stylesheet" href="{:MAC_BASE_PATH}/static/layui/css/layui.css?v=1024">
    <link rel="stylesheet" href="{:MAC_BASE_PATH}/static/css/admin_style.css?v=1024">

    <link rel="stylesheet" href="{:MAC_BASE_PATH}/static/pear/css/pear.css?v=1024">
    <link rel="stylesheet" href="{:MAC_BASE_PATH}/static/admin/css/load.css?v=1024">
    <link rel="stylesheet" href="{:MAC_BASE_PATH}/static/admin/css/admin.css?v=1024">
    <style type="text/css">
        .hs-iframe{width:100%;height:100%;}
        .footer{position:fixed;left:0;bottom:0;z-index:998;}
        .layui-form-label{width: 120px;}
        .layui-input-block{margin-left: 150px;}
    </style>
    <script type="text/javascript" src="{:MAC_BASE_PATH}/static/js/jquery.js?v=1024"></script>
    <script type="text/javascript" src="{:MAC_BASE_PATH}/static/layui/layui.js?v=1024"></script>
    <script type="text/javascript" src="{:MAC_BASE_PATH}/static/pear/pear.js?v=1024"></script>
</head>
<!-- <body class="layui-layout-body pear-admin pear-container"> -->
<body class="layui-layout-body pear-admin">