{include file="../../../application/admin/view/public/head" /}

<div class="">

    <div class="layui-card">
        <div class="layui-card-body">
          <table id="role-table" lay-filter="role-table"></table>
          <div
            class="layui-form layui-border-box layui-table-view"
            lay-filter="LAY-table-1"
            lay-id="role-table"
            style=""
          >
            <div class="layui-table-tool">
              <div class="layui-table-tool-temp">
                <a data-href="{:url('info')}" class="pear-btn pear-btn-primary pear-btn-md j-iframe"><i class="layui-icon">&#xe654;</i>{:lang('add')}</a>
                <a data-href="{:url('index/select')}?tab=vod&col=status&tpl=select_state&url=timming/field" data-width="470" data-height="200" data-checkbox="1" class="pear-btn pear-btn-primary pear-btn-md j-select"><i class="layui-icon">&#xe620;</i>{:lang('status')}</a>
                
              </div>
            </div>
            <div class="layui-table-box">
              <div class="layui-table-header">
        <form class="layui-form" method="post" id="pageListForm" >
          <table
          cellspacing="0"
          cellpadding="0"
          border="0"
          class="layui-table"
          lay-skin="line"
          >
          <thead>
            <tr>
                <th width="25"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>

                <th width="80">{:lang('name')}</th>
                <th width="150">{:lang('description')}</th>
                <th width="80">{:lang('run')}</th>
                <th width="80">{:lang('status')}</th>
                <th width="80">{:lang('last_run_time')}</th>
                <th width="100">{:lang('opt')}</th>
            </tr>
          </thead>
          <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td><input type="checkbox" name="ids[]" value="{$vo.name}" class="layui-checkbox checkbox-ids" lay-skin="primary"></td>
                <td>{$vo.name}</td>
                <td>{$vo.des}</td>
                <td>{$vo.file}</td>
                <td>
                    <input type="checkbox" name="status" {if condition="$vo['status'] eq 1"}checked{/if} value="{$vo['status']}" lay-skin="switch" lay-filter="switchStatus" lay-text="{:lang('open')}|{:lang('close')}" data-href="{:url('field?col=status&ids='.$vo['name'])}">
                </td>
                <td>{$vo.runtime|mac_day}</td>
                <td>
                    <a class="pear-btn pear-btn-primary pear-btn-md" target="_blank" href="{:MAC_BASE_PATH}/api.php?s=/timming/index.html&enforce=1&name={$vo['name']|rawurlencode}" title="{:lang('test')}">{:lang('test')}</a>
                    <a class="pear-btn pear-btn-primary pear-btn-md j-iframe" data-href="{:url('info')}?id={$vo['name']|rawurlencode}" href="javascript:;" title="{:lang('edit')}">{:lang('edit')}</a>
                    <a class="pear-btn pear-btn-danger pear-btn-md j-tr-del" data-href="{:url('del')}?ids={$vo['name']|rawurlencode}" href="javascript:;" title="{:lang('del')}">{:lang('del')}</a>
                </td>
            </tr>
            {/volist}
          </tbody>
          </table>
        </form>
              </div></div></div>
        </div>
      </div>
      
    <div id="pages" class="center"></div>
  </div>


{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">

</script>
</body>
</html>