{include file="../../../application/admin/view/public/head" /}




<form class="layui-form" method="post" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="hidden" name="cat_id" value="{$info.cat_id}">

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('name')}：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" lay-verify="cat_title" value="{$info.cat_title}" placeholder="" name="cat_title">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/banner/infocat/desc1')}：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" lay-verify="cat_code" value="{$info.cat_code}" placeholder="" name="cat_code">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="formSubmit" data-child="">
                <i class="layui-icon layui-icon-ok"></i>
                {:lang('btn_save')}
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                {:lang('btn_reset')}
            </button>
        </div>
    </div>
</form>
{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript" src="{:MAC_BASE_PATH}/static/js/jquery.jscolor.js"></script>
<script type="text/javascript">

    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;

        // 验证
        form.verify({
            cat_title: function (value) {
                if (value == "") {
                    return "{:lang('name_empty')}";
                }
            },
            cat_code: function (value) {
                if (value == "") {
                    return "{:lang('admin/banner/infocat/desc2')}";
                }
            }
        });
    });

</script>

</body>
</html>