{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <form class="layui-form" method="post" action="{:url('doadd')}">
        <div class="my-toolbar-box">
            <div class="center mb10">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/app/add/title1')}:</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:admin/addon/marketfeedback/desc3')}:</label>
                    <div class="layui-input-block">
                        <input type="text" name="ver_num" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/app/add/title')}:</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option value="">{:lang('admin/app/add/title2')}</option>
                            <option value="1">IOS</option>
                            <option value="2">Android</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/app/add/title3')}:</label>
                    <div class="layui-input-block">
                        <label class="layui-form-label"><input type="radio" name="is_force_update" checked value="1">{:lang('yes')}</label>
                        <label class="layui-form-label"><input type="radio" name="is_force_update" value="0">{:lang('not')}</label>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/app/add/title4')}:</label>
                    <div class="layui-input-block">
                        <label class="layui-form-label" style="width: 120px"><input type="radio" name="down_type" checked value="1">{:lang('online_app')}</label>
                        <label class="layui-form-label" style="width: 120px"><input type="radio" name="down_type" value="0">{:lang('admin/app/add/title5')}</label>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('downurl')}:</label>
                    <div class="layui-input-block">
                        <input type="text" name="down_url" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('admin/app/add/title6')}:</label>
                    <div class="layui-input-block">
                        <textarea name="content" class="layui-textarea"  placeholder="0/300"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="formSubmit" data-child="">
                    <i class="layui-icon layui-icon-ok"></i>
                    {:lang('save')}
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    {:lang('btn_reset')}
                </button>
            </div>
        </div>
    </form>
</div>
{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });
</script>
</body>
</html>