{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <form class="layui-form" method="post" action="{:url('doadd')}">
        <div class="my-toolbar-box">
            <div class="center mb10">
                <div class="layui-form-item">
                    <label class="layui-form-label">APP名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">版本号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="ver_num" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">平台:</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option value="">平台</option>
                            <option value="1">IOS</option>
                            <option value="2">Android</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">强制更新:</label>
                    <div class="layui-input-block">
                        <label class="layui-form-label"><input type="radio" name="is_force_update" checked value="1">是</label>
                        <label class="layui-form-label"><input type="radio" name="is_force_update" value="0">否</label>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">下载类型:</label>
                    <div class="layui-input-block">
                        <label class="layui-form-label" style="width: 120px"><input type="radio" name="down_type" checked value="1">应用商店</label>
                        <label class="layui-form-label" style="width: 120px"><input type="radio" name="down_type" value="0">URL地址</label>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">下载地址:</label>
                    <div class="layui-input-block">
                        <input type="text" name="down_url" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">升级说明:</label>
                    <div class="layui-input-block">
                        <textarea name="content" class="layui-textarea"  placeholder="0/300"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="formSubmit" data-child="">
                    <i class="layui-icon layui-icon-ok"></i>
                    {:lang('save')}
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    还 原
                </button>
            </div>
        </div>
    </form>
</div>
{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
    });
</script>
</body>
</html>