<div class="layui-form-item upload_mode mode_Uomg" {if condition="$config['upload']['mode'] neq 'Uomg'"}style="display:none;" {/if}>
<label class="layui-form-label">{:lang('admin/extend/upload/title23')}：</label>
<div class="layui-input-block">
    <a href="http://api.uomg.com/" target="_blank" class="layui-btn layui-btn-primary">{:lang('admin/extend/upload/title24')} http://api.uomg.com/</a>
</div>
</div>
<div class="layui-form-item upload_mode mode_Uomg" {if condition="$config['upload']['mode'] neq 'Uomg'"}style="display:none;" {/if}>
<label class="layui-form-label">OPENID：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][uomg][openid]" placeholder="" value="{$config['upload']['api']['uomg']['openid']}" class="layui-input"  >
</div>
<label class="layui-form-label">{:lang('admin/extend/upload/title25')}：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][uomg][key]" placeholder="" value="{$config['upload']['api']['uomg']['key']}" class="layui-input"  >
</div>
<label class="layui-form-label">{:lang('admin/extend/upload/title26')}：</label>
<div class="layui-input-inline w200">
    <select class="w150" name="upload[api][uomg][type]">
        <option value="ali" {if condition="$config['upload']['api']['uomg']['type'] eq 'ali'"}selected {/if}>{:lang('admin/extend/upload/title27')}</option>
        <option value="baidu" {if condition="$config['upload']['api']['uomg']['type'] eq 'baidu'"}selected {/if}>{:lang('admin/extend/upload/title28')}</option>
        <option value="sina" {if condition="$config['upload']['api']['uomg']['type'] eq 'sina'"}selected {/if}>{:lang('admin/extend/upload/title29')}</option>
        <option value="sogou" {if condition="$config['upload']['api']['uomg']['type'] eq 'sogou'"}selected {/if}>{:lang('admin/extend/upload/title30')}</option>
        <option value="juejin" {if condition="$config['upload']['api']['uomg']['type'] eq 'juejin'"}selected {/if}>{:lang('admin/extend/upload/title31')}</option>
        <option value="360" {if condition="$config['upload']['api']['uomg']['type'] eq '360'"}selected {/if}>{:lang('admin/extend/upload/title32')}</option>
        <option value="jd" {if condition="$config['upload']['api']['uomg']['type'] eq 'jd'"}selected {/if}>{:lang('admin/extend/upload/title33')}</option>
    </select>
</div>
</div>