<div class="layui-form-item upload_mode mode_Upyun" {if condition="$config['upload']['mode'] neq 'Upyun'"}style="display:none;" {/if}>
<label class="layui-form-label">{:lang('admin/extend/upload/title34')}：</label>
<div class="layui-input-block">
    <a href="https://www.upyun.com/" target="_blank" class="layui-btn layui-btn-primary">{:lang('admin/extend/upload/title15')} https://www.upyun.com/?maccms</a>
</div>
</div>
<div class="layui-form-item upload_mode mode_Upyun" {if condition="$config['upload']['mode'] neq 'Upyun'"}style="display:none;" {/if}>
<label class="layui-form-label">{:lang('admin/extend/upload/title36')}：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][upyun][bucket]" placeholder="{:lang('admin/extend/upload/title37')}" value="{$config['upload']['api']['upyun']['bucket']}" class="layui-input"  >
</div>
<label class="layui-form-label">{:lang('admin/extend/upload/title38')}：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][upyun][username]" placeholder="{:lang('admin/extend/upload/title39')}" value="{$config['upload']['api']['upyun']['username']}" class="layui-input"  >
</div>
<label class="layui-form-label">{:lang('admin/extend/upload/title40')}：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][upyun][pwd]" placeholder="{:lang('admin/extend/upload/title41')}" value="{$config['upload']['api']['upyun']['pwd']}" class="layui-input"  >
</div>
<label class="layui-form-label">{:lang('admin/extend/upload/title13')}：</label>
<div class="layui-input-inline w200">
    <input type="text" name="upload[api][upyun][url]" placeholder="{:lang('admin/extend/upload/title42')}" value="{$config['upload']['api']['upyun']['url']}" class="layui-input"  >
</div>
</div>