<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>{:lang('admin/public/index/title3')}......</title>
	<link rel="stylesheet" href="{:MAC_BASE_PATH}/static/css/home.css">
<style>
	body{background:#F9FAFD;color:#818181;}
</style>
</head>
<body>
<div class="mac_msg_jump">
	<div class="msg_jump_tit">{:lang('admin/public/index/title4')}...</div>
	<div class="title">{:lang('admin/public/index/title5')}：</div>
	<div class="text">
		{:lang('admin/public/index/title6')}
	</div>
</div>
</body>
</html>



